.invites {
.invite, .send {
width: 300px;
display: inline-block;
background-color: #ddd;
padding: 1em;
margin: 1em;
min-height: 400px;
vertical-align: top;
}

.msg {
border: 1px solid black;
padding: 0.2em;
}

}